<h3>Successful login, <%=@user1.name%>  </h3>

<p>You live at <%=@user1.address%>, <%=@user1.city%>, <%=@user1.state%> <%=@user1.country%>. Your email is <%=@user1.email%>. Your username is <%=@user1.username%></p>
