<h1> Hello, <%= @name %>... do you want to play a game?</h1>
<h1> Enter your guess in the url after 'snacks/'</h1>
<h1>Input number: <%= params[:number]%></h1>
<h2> Secret Number: <%= @secretnum%></h2>
<h3> <%= @win_status%></h3>
<h4> You've used <%= session[:counter]%> of 5 attempts</h4>
