<h1>You're Logged In!</h1>

<h4>Name: <%= @user.name %></h4>
<h4>Address: <%= @user.address %></h4>
<h4>City: <%= @user.city %></h4>
<h4>State: <%= @user.state %></h4>
<h4>Zipcode: <%= @user.zipcode %></h4>
<h4>Country: <%= @user.country %></h4>
<h4>Email: <%= @user.email %></h4>
<h4>Username: <%= @user.username %></h4>
<h4>Password: access denied</h4>

<form action="logout" method="get">
    <input type="submit" value="Log Out"/>
</form>
